__pycache__
scripts/fees.py
.history
.hypothesis/
build/
reports/
.vscode
research/
cache
.ipynb_checkpoints
*.ipynb
node_modules/
static/*
!static/.gitkeep
env/
.env
secrets/*
!secrets/.gitkeep
.python-version
generated
.DS_Store
package*.json
hardhat.config.js
.idea
setup_db.py
