__pycache__
.history
.hypothesis/
build/
reports/
.vscode
research/
cache
.ipynb_checkpoints
*.ipynb
node_modules/
static/*
!static/.gitkeep
.env
secrets/*
!secrets/.gitkeep
.python-version
generated
.DS_Store
