eth-brownie>=1.19.3
click>=7.1.2
tabulate>=0.8.7
joblib>=1.0.1
cachetools>=4.1.1
fastapi>=0.63.0
uvicorn>=0.13.4
sqlmodel>=0.0.4
psycopg2-binary>=2.8.5
tokenlists>=0.1.0b0,<0.1.1
aiofiles>=0.6.0
semantic-version>=2.8.5
boto3==1.17.88
rich>=12.6.0
matplotlib>=3.6.1
pandas>=1.3.0
pony>=0.7.16
sqlalchemy>=1.4.41
sentry-sdk==1.27.1
pytest-bdd>=5.0.0
dank_mids==4.20.52
eth_retry>=0.1.18
eth-hash[pysha3]
ez-a-sync==0.6.3
python-telegram-bot==13.15
git+https://www.github.com/BobTheBuidler/ypricemagic@db8425581a315267024695c9b4819f3547f83448
git+https://www.github.com/BobTheBuidler/eth-portfolio@22bd89a64b8d9d0ae66e390cc16ebb5ff694ed8d
git+https://www.github.com/BobTheBuidler/toolcache@e37b53cec64556d2b35df66767fca4c8f366a2fa
memray
git+https://www.github.com/BobTheBuidler/async-lru@1364553fbe0b2f0120a2659dca292189dc1e37ef
