
name: Partners Report
on:
  workflow_dispatch:

jobs:
  run_partners_dot_py:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        network: [ mainnet, ftm-main ]
        include:
        # Providers for all chains.
        - network: mainnet
          label: ETH
          provider: WEB3_PROVIDER
        - network: ftm-main
          label: FTM
          provider: FTM_WEB3_PROVIDER
      fail-fast: false

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3


      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
        
      - name: Install dependencies
        run: pip install -r requirements.txt
      
      - name: Setup brownie networks
        run: brownie networks modify ${{ matrix.network }} host=${{ secrets[matrix.provider] }}

      - name: Partners
        env:
          # Explorer tokens for all chains:
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN }}
          FTMSCAN_TOKEN: ${{ secrets.FTMSCAN_TOKEN }}
        run: brownie run partners --network ${{ matrix.network }}
      
      - name: Install Telebot
        run: pip install telebot==0.0.4
      
      - name: Robowoofy Upload File
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: brownie run robowoofy/post_partners --network ${{ matrix.network }}
